/* Section 1 */
.contents {
  margin-top: 0;
}

/* start section 2 */
.sec2 .component--hdng-ttll {
  font-family: LineSeedBold;
  font-size: 36px;
  line-height: 52px;
  color: #1a6c49;
}

.sec2--container {
  margin: 0 auto;
  max-width: 100%;
}
.sec2--container .l-wrap {
  margin: 0 -32px;
  display: flex;
  flex-wrap: wrap;
}
.sec2--container .wrapperContainer {
  /* padding: 0 20px 36px; */
  padding: 0 34px 64px;
  width: calc(100% / 2);
}
.sec2--container .wrapper {
  border-radius: 40px;
  background-color: #ffffff;
  padding: 49px 62px 0px;
}

.sec2--container .wrapper .tittle--text h1 {
  font-size: 30px;
  font-family: LineSeedBold;
  line-height: 48px;
  padding-bottom: 29px;
  color: #1a6c49;
}
.sec2--container .detail-box p {
  font-size: 18px;
  font-family: LineSeedRegular;
  line-height: 38px;
  padding-bottom: 36px;
}
.sec2 .hdr-container {
  position: relative;
}
.sec2 .hdr-container::before {
  content: "";
  display: block;
  width: 20%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f2f2f2;
  z-index: 0;
}
.sec2 .hdr-container .hdr {
  width: fit-content;
  background-color: #f2f2f2;
  position: relative;
  z-index: 1;
}

.sec2 .contnr {
  padding-top: 80px;
  padding-bottom: 56px;
  background-color: #f2f2f2;
}
.hdr {
  padding: 56px 84px 16px 0;
  border-top-right-radius: 87px;
}
.sec2 .hdr-container .mar-style {
  max-width: 1761px;
}
.sec2 .contnr .mar-style {
  max-width: 1601px;
}
@media only screen and (max-width: 960px) {
  .sec2--container .l-wrap {
    margin: unset;
  }
  .sec2 .contnr {
    padding-top: 40px;
    padding-bottom: 32px;
  }
  .sec2 .component--hdng-ttll {
    font-size: 20px;
    line-height: 33px;
  }
  .hdr {
    padding: 26px 25px 9px 0;
    border-top-right-radius: 45px;
  }
  .sec2--container .l-wrap {
    flex-direction: column;
  }
  .sec2--container .wrapperContainer {
    width: 100%;
    padding: 0 0 32px;
    /* padding-bottom: 32px; */
  }
  .sec2--container .wrapper .tittle--text h1 {
    font-size: 20px;
    line-height: 33px;
    padding-bottom: 18px;
  }
  .sec2--container .detail-box p {
    font-size: 16px;
    line-height: 31px;
    padding-bottom: 29px;
  }
  .sec2--container .wrapper {
    padding: 31px 24px 0px;
  }
}
/* end section 2 */

/* SECTION 3 */
.sec3 {
  padding: 157px 0 120px;
}

.sec3 .mar-style {
  max-width: 1680px;
  text-align: center;
}

.sec3 h3 span {
  font-size: 60px;
  color: #E2C10D;
  margin: 0 10px;
}

.sec3 ul {
  list-style: none;
}

.sec3 ul li:not(:last-child) {
  margin-bottom: 32px;
}

.sec3 .row {
  padding: 40px 55px;
  background-color: #E7F0EC;
  border-radius: 40px;
  position: relative;
}

.sec3 h4 {
  font-size: 28px;
  color: #1a6c49;
  font-family: LineSeedBold;
  text-align: left;
  margin-bottom: 17px;
}

.sec3 .row-ttl span {
  font-size: 180px;
  color: rgba(26, 108, 73, 0.15);
  font-family: LineSeedBold;
  line-height: 1;
}

.sec3 p {
  line-height: 37px;
  text-align: left;
}

.sec3 figure {
  display: flex;
}

@media screen and (min-width: 961px) {
  .sec3 .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .sec3 .row .col:first-child {
    width: 75%;
  }

  .sec3 .row .col:last-child {
    width: 25%;
  }

  .sec3 li:first-child .row-ttl span {
    left: 25px;
  }

  .sec3 .row-ttl span {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
  }

  .sec3 .row .col:first-child {
    padding: 0 25px 0 90px;
  }
}

@media screen and (min-width: 1300px) {
  .sec3 .row-ttl span {
    left: 130px;
  }

  .sec3 .row .col:first-child {
    padding: 0 55px 0 285px;
  }

  .sec3 li:first-child .row-ttl span {
    left: 145px;
  }
}

@media screen and (max-width: 960px) {
  .sec3 {
    padding: 64px 0 64px;
  }

  .sec3 .component--hdng-ttl span {
    line-height: 40px;
  }

  .sec3 .component--hdng-ttl span {
    font-size: 36px;
    margin: 0 3px;
  }

  .sec3 .row {
    padding: 23px 24px 30px;
    border-radius: 37px;
  }

  .sec3 .row .col:first-child {
    margin-bottom: 10px;
  }

  .sec3 .row-ttl {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 13px;
  }

  .sec3 h4 {
    font-size: 20px;
    margin-bottom: 0;
    line-height: 33px;
    margin-left: 16px;
  }

  .sec3 .row-ttl span {
    font-size: 82px;
  }

  .sec3 p {
    font-size: 16px;
    line-height: 31px;
  }
}

/* END OF SECTION 3 */

/* Section 5 */
.sec5-container {
  padding-top: 160px;
  padding-bottom: 155px;
}

.sec5-container .sec5-title h3 {
  display: flex;
  justify-content: center;
  font-size: 36px;
  line-height: 52px;
  color: #1A6C49;
  font-family: LineSeedBold;

}

.sec5-box-container {
  display: flex;
  justify-content: space-between;
  margin-top: 85px;
  position: relative;
}

.sec5-box-container .card-container {
  width: 20%;
}

.sec5-box-container .card-container .box-green {
  position: relative;
  z-index: 1;
}

.sec5-box-container .card-container .box-green figure {
  display: flex;
  position: relative;
  border: solid #1A6C49;
  border-radius: 30px;
  border-width: 5px;
  padding: 18px;
  background: #E7F0EC;
  z-index: 1;
}

.sec5-box-container .box-green .box-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.sec5-box-container .card-container:not(:last-child) .box-green::before {
  content: "";
  display: flex;
  align-self: center;
  background-color: #1A6C49;
  height: 7px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0, -50%);
  z-index: 0;
}

.card-message {
  padding-top: 30px;
}

.card-message .card-title {
  display: flex;
  justify-content: center;
}

.card-message .card-title h3 {
  font-family: LineSeedBold;
  font-size: 27px;
  line-height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #CBCBCB;
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
.card-message .card-title h3 span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: LineSeedBold;
  color: white;
  background-color: #1A6C49;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  margin-right: 8px;
  line-height: 52px;
}
.card-message .card-description p {
  font-size: 18px;
  line-height: 30px;
  font-family: LineSeedRegular;
  text-align: center;
}
@media screen and (min-width: 961px) and (max-width: 1220px){
  .card-message .card-title h3{
    font-size: 2vw;
    line-height: 1;
  }
}

@media screen and (max-width: 960px) {

  .sec5-container {
    padding-top: 50px;
    padding-bottom: 64px;
  }

  .sec5-container .sec5-title h3 {
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
    line-height: 52px;
    color: #1A6C49;
    font-family: LineSeedBold;
  }

  .sec5-box-container {
    display: flex;
    justify-content: space-between;
    margin-top: 31px;
    position: relative;
    flex-wrap: wrap;
  }

  .sec5-box-container .card-container {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .sec5-box-container .card-container:not(:last-child) {
    margin-bottom: 35px;
  }

  .card-message .card-title h3 {
    font-size: 16px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    justify-content: left;
    line-height: 1;
  }

  .card-message .card-title h3 span {
    font-size: 14px;
    height: 22px;
    width: 22px;
  }

  .card-message .card-description p {
    font-size: 14px;
    text-align: left;
    line-height: 23px;
  }

  .sec5-box-container .card-container .box-green {
    position: relative;
    z-index: 1;
    width: 45%;
  }

  .sec5-box-container .card-container .box-green figure {
    border: 4px solid #1A6C49;
    border-radius: 23px;
    padding: 10px;
  }

  .card-message {
    width: 55%;
    text-align: left;
    padding-left: 27px;
    padding-top: 0;
  }

  .sec5-box-container .card-container:not(:last-child) .box-green::before {
    height: 4px;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

@media screen and (max-width: 361px) {

  .sec5-container {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .card-message .card-description p {
    font-size: 0.75rem;
  }

  .card-message .card-title h3 {
    font-size: 0.875rem;
  }

  .card-message {
    padding-left: 10px;
  }

  .sec5-box-container .card-container {
    margin-bottom: 0px;
  }
}

/* SECTION 11  */
.sec7 {
  background-color: #f4f4f4;
  padding: 120px 0;
}

.sec7--container {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 30px 32px 28px;
  background-color: #1A6C49;
}

.sec7--container:not(:last-child) {
  margin-bottom: 24px;
}

.sec7--container a {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sec7--container a div {
  display: flex;
  justify-content: space-between;
}

.sec7--container a img {
  width: 24px;
  height: 14px;
}

.sec7--container a p {
  font-size: 27px;
  font-weight: 700;
  color: white;
  font-family: LineSeedBold;
}

.sec7--container a span {
  font-size: 27px;
  font-weight: 700;
  color:white;
  padding-right: 17px;
  font-family: LineSeedBold;
}

.sec7--drop-down {
  display: none;
  background-color: #FFFFFF;
  border-radius: 10px;
  margin-top: 18px;
}

.sec7--drop-down p {
  font-size: 20px;
  font-family: LineSeedRegular;
  line-height: 35px;
  padding: 24px 28px;
  color: #37393c;
  text-indent: -44px;
  margin-left: 40px;
}

.sec7--drop-down p span {
  font-size: 27px;
  font-family: LineSeedBold;
  color: #E2C10D;
  padding-right: 14px;
}

.rotate {
  transform: scaleY(-1);
  transition: transform 0.3s ease-in-out;
}

.sec7--drop-button {
  transition: 0.3s ease-in-out;
  background-color: #1A6C49;
}

.sec7--container {
  position: relative;
}

.sec7--drop-down {
  display: none;
  overflow: hidden;
}

@media screen and (max-width: 960px) {
  .sec7 {
    padding: 55px 0 64px;
  }
  .sec7--container a{
    align-items: flex-start;
  }
  .sec7--container a div{
    width: calc(100% - 17px);
    justify-content: flex-start;
  }
  .sec7--container a p {
    font-size: 18px;
    line-height: 26px;
    padding-right: 14px;
  }

  .sec7--container a span {
    font-size: 18px;
    line-height: 1;
    padding-right: 9px;
    position: relative;
    top: 5px;
  }
  .sec7--container a img {
    width: 17px;
    height: 10px;
    position: relative;
    top: 8px;
  }

  .sec7--container {
    padding: 25px 24px 23px;
  }

  .sec7--drop-down p {
    font-size: 14px;
    line-height: 23px;
    padding: 7px 15px 9px;
    text-indent: -27px;
    margin-left: 27px;
  }

  .sec7--drop-down p span {
    font-size: 18px;
    line-height: 27px;
    padding-right: 8px;
  }

  .sec7--container:not(:last-child) {
    margin-bottom: 16px;
  }

}

@media screen and (min-width: 961px) {
  .sec7--container a span {
    align-items: center;
    display: flex;
  }

  .sec7--container a div {
    align-items: center;
  }
}
/* END OF SECTION 7 */


/* text box component */

.container--box {
  max-width: 778px;
  width: 100%;
}
.text--box {
  background-color: #e7f0ec;
  border-radius: 37px;
  padding: 55px 24px 55px;
  display: flex;
  justify-content: center;
}
.cta {
  background-color: #1a6c49;
}

.text--box .text-title {
  display: flex;
  justify-content: center;
  padding-bottom: 16px;
}

.text--box .text-title .text--tittle-img {
  max-width: 512px;
}
.text--box .text-title .h1--white {
  color: white;
}

.text--box .text-bg-white {
  background-color: #ffffff;
}
.text--box .text-title2 .text-title2-left {
  padding: 0 40px;
}
.text--box .text-title2 .text-title2-left p {
  font-size: 27px;
  font-family: LineSeedBold;
  line-height: 39px;
  color: white;
}
.text--box .text-title2 .text-title2-left .pblack {
  color: black;
}
.text--box .text-title2 .text-title2-right .img--box {
  max-width: 437px;
}
.text--box .text-title2 .text-title2-right .contactdes {
  display: flex;
}
.text--box .text-title2 .text-title2-right .contactdes .pcontactdes {
  border-radius: 48px;
  text-align: center;
  padding: 9px 21px;
  font-size: 1rem;
  font-family: LineSeedBold;
  line-height: 34px;
  margin-right: 10px;
}

.text--box .text-title2 .text-title2-right .contactdes .fadegreen {
  background-color: #3a906b;
  color: white;
}
.text--box .text-title2 .text-title2-right .contactdes .fadered {
  background-color: #dd4e34;
}
.text-title2 {
  position: relative;
}
.text-title2-right .arrow {
  position: absolute;
  width: 9px;
  height: 17px;
  top: 50%;
  right: 25px;
  transform: translate(-50%, 0);
}

.buttons {
  padding-top: 9px;
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
}
.buttons .btn {
  text-align: center;
  border-radius: 48px;
  padding: 32px 0px;
  position: relative;
  box-shadow: 0px 6px 3px rgb(0 0 0 / .08);
}
.buttons .btn .arrow {
  position: absolute;
  width: 9px;
  height: 17px;
  top: 40%;
  right: 25px;
  transform: translate(-50%, 0);
}
.buttons .btn p {
  font-size: 1.125;
  font-family: LineSeedBold;
  line-height: 28px;
}
.buttons .green {
  background-color: #06c755;
  max-width: 374px;
  width: 100%;
  margin-right: 27px;
}
.buttons .yellow {
  background-color: #fad60e;
  max-width: 377px;
  width: 100%;
}

@media screen and (min-width: 961px) {
  .l-wrap {
    align-items: center;
  }
  .datails-box {
    width: 53%;
  }
  .sec1 .sec1--container .l-wrap .right {
    width: 44%;
  }
}
@media screen and (max-width: 960px) {
  .text--box .text-title .text--tittle-img .pcH1W {
    content: url("/images/common/spH1W.png");
    width: 275px;
  }
  .text--box .text-title .text--tittle-img .pcH1B {
    content: url("/images/common/spH1B.png");
  }
  .text--box .text-title2 img {
    content: url("/images/common/spcontactimg.png");
  }
  .text--box .text-title2 .con-sp {
    content: url("/images/common/spcontactimgW.png");
  }

  .sec1 .illu--box {
    display: flex;
    justify-content: center;
    padding: 24px 45px 43px;
  }
  .right .illu--box .illustration-img .circle-box img {
    max-width: unset;
    padding: 0 4px;
    width: calc(100% / 3);
  }
  .sec1 .illu--box .circle-box {
    padding-top: 31px;
    margin: 0 -4px;
  }
  .sec1 .sec1--container .l-wrap .datails-box h1 {
    font-size: 33px;
    line-height: 46px;
  }
  .sec1 .sec1--container .l-wrap .datails-box h1 .green {
    font-size: 33px;
  }
  .text--box .text-title {
    padding-bottom: 17px;
  }
  .sec1 .sec1--container .l-wrap .datails-box .ptext {
    font-size: 14px;
    line-height: 25px;
    padding-top: 29px;
    padding-bottom: 40px;
  }
  .sec1 .illu--box .illustration-img {
    max-width: unset;
  }

  .l-wrap {
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }

  .text--box .text-title2 {
    flex-direction: column;
  }
  .text-title2-left p br {
    display: none;
  }
  .text--box .text-title2 .text-title2-right .contactdes {
    flex-direction: column;
  }
  .text--box .text-title2 .text-title2-left p {
    font-size: 17px;
    line-height: 26px;
    padding-top: 29px;
  }
  .text--box .text-title2 .text-title2-right .contactdes .fadegreen1 {
    margin-bottom: 3px;
  }
  .text--box .text-title2 .text-title2-right .img--box {
    max-width: 241px;
  }
  .text--box .text-title2 .text-title2-right .contactdes .pcontactdes {
    font-size: 16px;
  }
  .buttons {
    padding: 8px 0px;
  }
  .buttons .btn p {
    font-size: 16px;
    line-height: 20px;
  }
  .buttons .btn {
    max-width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }
  .buttons .green {
    margin-right: unset;
    margin-bottom: 16px;
  }

  .text--box {
    padding: 34px 44px 24px;
  }
}

/* text box component */

/* start section secCTA */
.secCTA {
  background-color: #1a6c49;
}

.tb2 {
  background-color: unset;
}
/* end section secCTA */

/* SECTION 9 */
#sec9{
  padding-top: 120px;
}
@media screen and (max-width: 960px) {
  #sec9{
    padding-top: 14px;
  }
}
/* END OF SECTION 9 */

/* CONTACT SECTION */

#contactSect{
  padding: 120px 0;
}
#contactSect.input,
#contactSect.confirm{
  padding: 120px 0 120px;
}
#contactSect .contactSect_inner{
  background-color: #E7F0EC;
  border-radius: 40px;
  padding: 20px 80px 80px;
}
#contactSect .component--hdng-ttl{
  text-align: left;
}
#contactSect .formFlex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* END OF CONTACT SECTION */


/*カラム用*/
.col_wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.col2_01 {
  width: 50%;
}

@media screen and (max-width: 767px) {
  .col2_01 {
    width: 100%;
  }
}

/* Contact CSS */
.contactSect_input_list {
  margin: 40px auto 50px;
}

#sec9 .contact-title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: #37393C;
  margin-bottom: 20px;
}

#sec9 .contact-title.text-white {
  color: #fff;
}

.contactSect_p_title {
  font-size: 18px;
  font-weight: 700;
  display: block;
  text-align: center;
}

.contactSect_p_title.text-white {
  color: #fff;
}


#contactSect div.explain-txt span,
#contactSect .c-error {
  font-size: 13px;
}


.contactWrapper .bdr-radius {
  border-radius: 30px;
  overflow: hidden;
}

.contactWrapper .contactWrapper-tabs {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.contactWrapper .contactWrapper-tabs li {
  width: 50%;
}

.contactWrapper .contactWrapper-tabs li a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: #777777;
  padding: 30px 0;
  transition: .3s ease;
  background-color: #D9D9D9;
  cursor: pointer;
}

.contactWrapper .contactWrapper-tabs li a svg {
  margin-right: 10px;
}

.contactWrapper .contactWrapper-tabs li a svg g>* {
  stroke: #777777;
}

.contactWrapper .contactWrapper-tabs li a.active {
  background-color: #F4F4F4;
  color: #37393C;
}

.contactWrapper .contactWrapper-tabs li a.active svg g>* {
  stroke: #0080CB;
}

.contactWrapper .contactWrapper-tabs li a:hover {
  background-color: #F4F4F4;
  color: #37393C;
}

.contactWrapper .contactWrapper-tabs li a:hover svg g>* {
  stroke: #0080CB;
}

.contactWrapper .contactWrapper-tabsContent .tabsContent-box {
  display: none;
}

.contactWrapper .contactWrapper-tabsContent .tabsContent-box.active {
  display: block;
}


.contactSect_flex_box {
  padding-bottom: 43px;
  width: 46%;
}
.contactSect_flex_box:last-child {
  width: 100%;
}

#contactSect .contactSect_flex_box>label {
  font-family: LineSeedBold;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

#contactSect .contactSect_flex_box .p-form__container {
  margin-top: 12px;
}

#contactSect .select_07_half.selectBoxArrow {
  position: relative;
}

#contactSect .select_07_half.selectBoxArrow::before {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  border-bottom: 3px solid #37393C;
  border-right: 3px solid #37393C;
  position: absolute;
  border-radius: 2px;
  top: 12px;
  right: 20px;
  transform: rotate(45deg);
}

#contactSect .select_07_half.selectBoxArrow select {
  appearance: none;
}

#contactSect .select_07_half.inputDate {
  position: relative;
  background-color: #fff;
}

#contactSect .select_07_half.inputDate label {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translate(0, -50%);
  width: 20px;
  display: flex;
  z-index: 0;
}

#contactSect .select_07_half.inputDate input {
  width: 100%;
  background-color: transparent;
  position: relative;
  z-index: 2;
}

#contactSect .select_07_half.inputDate input[type="date"]::-webkit-inner-spin-button,
#contactSect .select_07_half.inputDate input[type="date"]::-webkit-calendar-picker-indicator {
  /* display: none; */
  /* -webkit-appearance: none; */
  opacity: 0;
}

#contactSect input[type=text],
#contactSect input[type=date] {
  width: 100%;
  font-size: 18px;
  height: 56px;
  border-radius: 10px;
  border: none;
  padding: 0 18px;
  color: #37393C;
  font-weight: 500;
  font-family: LineSeedRegular;
  /* box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.16) inset;
  -webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.16) inset;
  -moz-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.16) inset; */
}

#contactSect input[type=date] {
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}

#contactSect input[type=text]:focus,
#contactSect input[type=date]:focus {
  outline: none;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.16) inset;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.16) inset;
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.16) inset;
}

.confirmBtnWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

#contactSect input.btn[type="submit"],
.thanksPage .btn {
  display: block;
  /* margin: 0 auto; */
  width: 374px;
  height: 85px;
  font-size: 20px;
  font-family: LineSeedBold;
  background-color: #1A6C49;
  color: #ffffff;
  border-radius: 50px;
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding-bottom: 0;
  transition: transform 0.2s ease-in-out;
}

#contactSect input.btn[type="submit"]:hover,
#contactSect input.btn[type="reset"]:hover,
.thanksPage .btn:hover {
  transform: scale(1.03);
}

#contactSect input.btn[type="reset"] {
  display: block;
  /* margin: 0 auto; */
  width: 374px;
  height: 85px;
  font-size: 20px;
  font-family: LineSeedBold;
  background-color: #DDDDDD;
  color: #37393C;
  border-radius: 43px;
  border: 2px solid #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding-bottom: 0;
  transition: transform 0.2s ease-in-out;
}

#contactSect input.sec_07_half {
  /* display: inline-block; */
  width: 35%;
  font-size: 16px;
}

#contactSect .select_07_half {
  display: inline-block;
  width: 100%;
}

#contactSect .select_07_half>select {
  display: block;
  width: 100%;
  height: 56px;
  padding: 0 15px;
  font-size: 16px;
  font-weight: 500;
  font-family: LineSeedRegular;
  border: none;
  border-radius: 10px;
  /* box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16); */
}

#contactSect .select_07_half>select:focus {
  outline: none;
}

#contactSect .contactSect_select_item {
  width: 100%;
  font-size: 15px;
  line-height: 1.2;
}

#contactSect .contactSect_select_item.classroom {
  flex-direction: row;
  justify-content: space-between;
}

#contactSect .contactSect_select_item.classroom label {
  background-color: #fff;
  width: 49%;
  padding-top: 12px;
  padding-left: 44px;
  padding-right: 44px;
  border-radius: 5px;
}

#contactSect .contactSect_select_item.classroom label p {
  font-weight: 700;
  font-size: 18px;
  color: #37393C;
  width: 100%;
}

#contactSect .contactSect_select_item.classroom label p span {
  font-weight: 500;
  font-size: 14px;
  color: #98999B;
  line-height: 20px;
  display: block;
  width: 100%;
}

#contactSect .contactSect_select_item.classroom label:first-child {
  margin-top: 0;
}

#contactSect .contactSect_select_item.classroom .lbl_checkbox::before {
  top: 50%;
  left: 14px;
  transform: translate(0, -50%);
  ;
}

#contactSect .contactSect_select_item.classroom .lbl_checkbox::after {
  top: 50%;
  left: 18px;
  transform: translate(0, -50%);
  ;
}

#contactSect .contactSect_select_item.bullet {
  flex-direction: row;
}

#contactSect .contactSect_select_item.bullet>label {
  margin-top: 15px;
}

#contactSect .contactSect_select_item.bullet>label:not(:first-child) {
  margin-left: 30px;
}

#contactSect .contactSect_select_item label:first-child {
  margin-top: 15px;
}

#contactSect .contactSect_select_item label {
  position: relative;
  padding-left: 25px;
  margin-bottom: 18px;
}
#contactSect .contactSect_select_item label:last-child {
  margin-left: 45px;
}

#contactSect .contactSect_select_item .lbl_checkbox::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  border: 1px solid #36393C;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
}

#contactSect .contactSect_select_item .lbl_checkbox::after {
  content: "";
  display: none;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background-color: #1A6C49;
  position: absolute;
  top: 4px;
  left: 4px;

}

#contactSect .contactSect_select_item input:checked+.lbl_checkbox::after {
  display: block;
}

#contactSect .contactSect_select_item input {
  display: inline-block;
  width: 0;
  margin: 0px 5px 0px 0px
}

#contactSect .contactSect_select_item input.input_second {
  margin-left: 16px;
}

#contactSect .contactSect_select_item p {
  width: 100%;
  font-size: 15px;
}

#contactSect .contactSect_select_item p a {
  border-bottom: 1px solid #000;
}

#contactSect .contactSect_select_item span {
  font-size: 15px;
  width: 30%;
}

#contactSect input.sec_07_short {
  display: inline-block;
  width: 30%;
  font-size: 18px;
  margin: 0 5px;
}

#contactSect textarea {
  font-size: 18px;
  font-weight: 500;
  font-family: LineSeedRegular;
  width: 100%;
  border-radius: 10px;
  border: none;
  padding: 18px;
  /* box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.16) inset;
  -webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.16) inset;
  -moz-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.16) inset; */
}

#contactSect textarea:focus {
  outline: none;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.16) inset;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.16) inset;
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.16) inset;
}

#contactSect input.contactSect_checkbox {
  /* width: 0; */
  margin-right: 0px;
}

#contactSect button {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 60px;
  font-size: 28px;
  background-color: #F07A7A;
  color: #ffffff;
  border-radius: 10px;
  border: none;
  box-shadow: 3px 3px 6px #7070705d;
}

.contactSect_astarisk {
  color: #fff;
  background-color: #DD4E34;
  font-size: 16px;
  line-height: 1;
  padding: 5px 10px;
  border-radius: 50px;
  margin-left: 10px;
}

.contactSect_any {
  color: #fff;
  background-color: #939393;
  font-size: 12px;
  padding: 3px 7px;
  border-radius: 2px;
  margin-right: 6px;
}

#contactSect.confirm input {
  border-radius: 0px;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #fee;
}

#contactSect.confirm input[type=checkbox] {}

#contactSect.confirm textarea {
  border-radius: 0px;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #fee;
}

#contactSect .form-group-index {
  background-color: #0080CB;
  border-radius: 10px;
  padding: 6px 24px;
  margin-bottom: 24px;
}

#contactSect .form-group-index p {
  font-size: 16px;
  color: #fff;
}

.ipad_display {
  display: none;
}

.contactSect_sp_display {
  display: none;
}

.contactSect_privay .contactSect_privay-title {
  font-size: 16px;
  color: #37393C;
  margin-bottom: 14px;
}

.contactSect_privay .contactSect_privay-Wrap {
  width: 100%;
  height: 400px;
  border: none;
  background-color: #fff;
  margin-bottom: 45px;
  padding: 25px 24px;
  overflow-y: scroll;
  border-radius: 2px;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.16) inset;
  -webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.16) inset;
  -moz-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.16) inset;
}

.contactSect_privay>label {
  width: fit-content;
  display: block;
  margin: 0 auto;
  position: relative;
  font-size: 16px;
}

.contactSect_privay label input {
  opacity: 0;
}

.contactSect_privay label input:checked+span {
  background-color: #EE9C00;
}

.contactSect_privay label input:checked+span::before {
  display: block;
}

.contactSect_privay label span {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid #36393C;
  position: absolute;
  top: 1px;
  left: 5px;
  background-color: #fff;
}

.contactSect_privay label span::before {
  content: "";
  display: none;
  width: 8px;
  height: 3.5px;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -4px) rotate(-45deg);
}

.contactSect_privay .p-form__container {
  text-align: center;
  margin-top: 15px;
}

.privacyCont .privacyCont--item {
  list-style: none;
}

.privacyCont .privacyCont--item:not(:last-child) {
  margin-bottom: 60px;
}

.privacyCont .privacyCont--item h3 {
  font-weight: 700;
  font-size: 18px;
  color: #0080CB;
  margin-bottom: 30px;
}

.privacyCont .privacyCont--item p {
  font-weight: 400;
  font-size: 14px;
  color: #37393C;
  line-height: 20px;
  margin-bottom: 25px;
}

.privacyCont .privacyCont--item ol {
  padding-left: 17px;
}

.privacyCont .privacyCont--item ol.style-none {
  list-style: none;
  padding-left: 0;
}

.privacyCont .privacyCont--item ol.style-none li {
  padding-left: 0;
}

.privacyCont .privacyCont--item ol li {
  font-weight: 400;
  font-size: 14px;
  color: #37393C;
  line-height: 20px;
  padding-left: 12px;
  margin-bottom: 18px;
}

.privacyCont .privacyCont--item ol.mt-15 {
  margin-top: 8px;
}

.privacyCont .privacyCont--item ol li.mb-0 {
  margin-bottom: 0;
  text-indent: -13px;
  padding-left: 13px;
}

.privacyCont .privacyCont--item ol.katakana-list {
  padding-left: 20px;
  list-style: none;
  margin-top: 20px;
}

.privacyCont .privacyCont--item ol.katakana-list ol {
  padding-left: 20px;
}

.privacyCont .privacyCont--item ol.asteriskList li {
  text-indent: -30px;
  padding-left: 30px;
}

.privacyCont .privacyCont--item ol li .ol-table-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 8px;
}

.privacyCont .privacyCont--item a {
  word-wrap: break-word;
}

.privacyCont .privacyCont--item table {
  width: 100%;
}

.privacyCont .privacyCont--item table tr:first-child {
  border-top: 1px solid #E2E2E2;
}

.privacyCont .privacyCont--item table tr {
  border-bottom: 1px solid #E2E2E2;
}

.privacyCont .privacyCont--item table tr td {
  font-size: 14px;
  line-height: 21px;
  vertical-align: middle;
  padding: 18px 0;
}

.privacyCont .privacyCont--item table tr td:first-child {
  font-weight: 500;
  background-color: #EAEAEA;
  text-align: center;
  vertical-align: middle;
  width: 30%;
}

.privacyCont .privacyCont--item table tr td:last-child {
  padding: 18px 24px;
  font-weight: 400;
}

#contactSect.confirm .contactSect_flex_box{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  border-bottom: 1px solid #D3D5D4;
  padding-bottom: 0;
}
#contactSect.confirm .contactSect_flex_box:not(:first-child){
  padding-top: 23px;
}
#contactSect.confirm .contactSect_flex_box label{
  width: 35%;
}
#contactSect.confirm .contactSect_flex_box p{
  width: 65%;
}
#contactSect.confirm .contactSect_astarisk{
  display: none;
}

#contactSect .privacyWrap p{
  text-align: center;
  font-size: 16px;
}
#contactSect .privacyWrap p a{
  color: #353C35;
  text-decoration: underline;
  text-decoration-color: #353C35;
  text-underline-offset: 5px;
}

#contactSect #btnArrowIcon{
  position: relative;
}
#contactSect input.btn[type="submit"]:hover + img{
  right: 15px;
}
#contactSect input.btn[type="submit"] + img{
  display: block;
  width: 10px;
  height: 24px;
  position: absolute;
  top: 50%;
  right: 30px; 
  transform: translate(0, -50%);
  transition: 0.2s ease-in-out;
}

#contactSect.thanksPage .component--hdng-ttl{
  margin: 0 0 35px 0;
}
#contactSect.thanksPage p{
  text-align: center;
  font-family: LineSeedBold;
  margin-bottom: 73px;
}
#contactSect.thanksPage a img{
  display: block;
  width: 10px;
  height: 24px;
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translate(0, -50%);
  transition: 0.2s ease-in-out;
}

#contactSect.thanksPage{
  padding: 240px 0 120px;
}
#contactSect.thanksPage .contactSect_inner{
  padding: 60px 80px 80px;
}


@media screen and (max-width: 1040px) {
  .ipad_display {
    display: block;
  }
}

@media screen and (max-width: 960px) {
  #contactSect{
    padding: 64px 0;
  }
  #contactSect.input,
  #contactSect.confirm{
    padding: 120px 0;
  }
  #contactSect .contactSect_inner{
    border-radius: 37px;
    padding: 1px 24px 40px;
  }
  .contactSect_flex_box{
    width: 100%;
    padding-bottom: 25px;
  }
  .contactSect_flex_box:nth-child(6){
    padding-bottom: 0;
  }
  .contactSect_flex_box:nth-child(6) .p-form__container{
    margin-top: 0 !important;
    margin-bottom: 20px;
  }
  #contactSect .contactSect_flex_box>label{
    font-size: 18px;
    margin-bottom: 0;
    padding-bottom: 8px;
  }
  .contactSect_astarisk{
    font-size: 14px;
    padding: 3px 7px;
  }
  #contactSect input[type=text]{
    font-size: 16px;
    height: 41px;
  }
  #contactSect .contactSect_select_item label {
    width: 100%;
  }
  #contactSect .contactSect_select_item label:last-child {
    margin-left: 0;
  }
  #contactSect textarea{
    font-size: 16px;
  }
  
  #contactSect.confirm .contactSect_flex_box{
    padding-bottom: 20px;
  }
  #contactSect.confirm .contactSect_flex_box:not(:first-child){
    padding-top: 23px;
  }
  #contactSect.confirm .contactSect_flex_box label{
    width: 100%;
  }
  #contactSect.confirm .contactSect_flex_box p{
    font-size: 16px;
    width: 100%;
  }
  
  #contactSect .privacyWrap p{
    text-align: left;
    line-height: 28px;
    font-size: 16px;
  }
  #contactSect .privacyWrap p a{
    color: #353C35;
    text-decoration: underline;
    text-decoration-color: #353C35;
    text-underline-offset: 5px;
  }

  .privacyCont .privacyCont--item h3 {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 20px;
  }

  .privacyCont .privacyCont--item p {
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 20px;
  }

  .privacyCont .privacyCont--item ol {
    padding-left: 17px;
  }

  .privacyCont .privacyCont--item ol li {
    font-size: 13px;
    line-height: 18px;
    padding-left: 5px;
  }

  .privacyCont .privacyCont--item table tr:first-child {
    border-top: 1px solid #E2E2E2;
  }

  .privacyCont .privacyCont--item table tr {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 12px;
  }

  .privacyCont .privacyCont--item table tr td {
    font-size: 14px;
    line-height: 21px;
    vertical-align: middle;
    padding: 10px 15px;
  }

  .privacyCont .privacyCont--item table tr td:first-child {
    text-align: left;
    width: 100%;
  }

  .privacyCont .privacyCont--item table tr td:first-child br {
    display: none;
  }

  .privacyCont .privacyCont--item table tr td:last-child {
    border-left: 1px solid #E2E2E2;
    border-right: 1px solid #E2E2E2;
    width: 100%;
    padding: 10px 15px;
  }

  .privacyCont .privacyCont--item ol.katakana-list {
    padding-left: 0;
  }

  .privacyCont .privacyCont--item ol.katakana-list ol {
    padding-left: 5px;
  }
}

@media screen and (max-width: 470px) {
  .contactSect_sp_display {
    display: block;
  }

  .ipad_display {
    display: none;
  }
}

@media screen and (max-width: 1040px) {
  .contactSect_flex_box {
    flex-direction: column;
  }

  #contactSect label,
  #contactSect input,
  #contactSect .contactSect_select_item {
    /* width: 100% !important; */
    padding-bottom: 10px;
  }

  #contactSect input[type=radio] {
    width: 0 !important;
  }

  #contactSect .select_07_half {
    width: 100%;
  }

  #contactSect input.sec_07_half {
    width: 50%;
  }

  #contactSect .contactSect_select_item input.input_second {
    margin-left: 20px;
  }

  #contactSect .contactSect_select_item span {
    width: 20%;
  }

  #contactSect input.sec_07_short {
    width: 40%;
    margin: 0 9px;
  }

  #contactSect input.btn[type="submit"] {
    width: 180px;
    height: 48px;
    font-size: 16px;
  }

  #contactSect input.btn[type="submit"] + img {
    right: 15px;
  }

  #contactSect input.btn[type="reset"] {
    width: 180px;
    height: 48px;
    font-size: 16px;
  }

  #contactSect .contactSect_select_item label {
    margin-bottom: 5px;
  }

  #contactSect .contactSect_flex_box label br {
    display: none;
  }

  /* #contactSect .contactSect_select_item.bullet>label {
    margin-top: 0;
  } */
  #contactSect .contactSect_select_item.bullet>label:not(:first-child) {
    margin-left: 0;
    margin-top: 0;
  }

  #contactSect .contactSect_select_item.classroom label:not(:last-child) {
    margin-bottom: 12px !important;
    padding-top: 7px;
    padding-bottom: 0;
  }

  .contactSect_privay .contactSect_privay-Wrap {
    height: 385;
    padding: 39px 16px;
  }

  .contactSect_privay>label {
    padding-left: 34px;
    text-indent: -10px;
    line-height: 20px;
  }

  #contactSect .contactSect_privay input.contactSect_checkbox {
    width: 0 !important;
  }

  .contactSect_privay .p-form__container {
    text-align: left;
    margin-top: 10px;
    padding-left: 35px;
  }

  .contactWrapper .contactWrapper-tabs li:first-child svg {
    width: 28px;
  }

  .contactWrapper .contactWrapper-tabs li:last-child svg {
    width: 21px;
  }

  .contactWrapper .contactWrapper-tabs li a {
    font-size: 15px;
    padding: 12px 0;
  }

  .contactWrapper .bdr-radius {
    border-radius: 15px;
  }

  #contactSect .form-group-index {
    border-radius: 8px;
    padding: 6px 15px;
  }

  #contactSect .contactSect_flex_box .p-form__container {
    padding-left: 0;
  }

  div.explain-txt {
    padding-left: 0;
  }
}

@media screen and (max-width: 1040px) {
  #contactSect .contactSect_select_item span {
    width: 25%;
  }

  #contactSect input.sec_07_short {
    width: 33%;
    margin: 0 9px;
  }
}

@media screen and (max-width: 960px) {
  #contactSect #btnArrowIcon{
    width: 100% !important;
  }
  #contactSect input.btn[type="submit"]{
    height: 63px !important;
    width: 100% !important;
  }
  #contactSect .confirmBtnWrap{
    flex-direction: column-reverse;
    gap: 20px;
  }
  #contactSect .confirmBtnWrap div{
    width: 100%;
  }
  #contactSect input.btn[type="reset"]{
    width: 100%;
    height: 63px;
  }
  .thanksPage .btn{
    height: 63px;
    width: 100%;
    font-size: 16px;
  }
  #contactSect.thanksPage p {
    margin-bottom: 35px;
    text-align: left;
    font-size: 16px;
  }
  #contactSect.thanksPage{
    padding: 120px 0;
  }
  #contactSect.thanksPage .contactSect_inner{
    padding: 39px 24px 40px;
  }
}

@media screen and (max-width: 767px) {
  #contactSect .contact-title {
    font-size: 18px;
  }

  #contactSect label {
    font-size: 15px;
  }

  #contactSect .contactSect_flex_box>label {
    width: 100%;
  }

  #contactSect input,
  #contactSect p {
    font-size: 13px;
  }

  #contactSect label.inline .input_second {
    margin-left: 0;
  }

  #contactSect input.sec_07_half {
    width: 100%;
  }

  #contactSect .explain-txt {
    padding-left: 0;
  }
}

@media screen and (max-width: 660px) {
  #contactSect .contactSect_select_item span {
    width: 35%;
  }

  #contactSect input.sec_07_short {
    width: 30%;
  }

  #contactSect .contactSect_select_item input:nth-child(n+3) {
    margin: 0px 5px 0px 10px;
  }

  #contactSect .contactSect_select_item.contactSect_flex_box_last {
    display: block;
  }
}

@media screen and (max-width: 618px) {
  #contactSect .contactSect_select_item input {
    margin: 0px 3px 0px 0px;
  }

  #contactSect .contactSect_select_item input:nth-child(n+3) {
    margin: 0px 3px 0px 10px;
  }
}

@media screen and (max-width: 557px) {
  #contactSect .contactSect_select_item.course {
    max-width: 80%;
  }

  #contactSect .contactSect_select_item input {
    margin: 0px 3px 0px 0px;
  }

  #contactSect .contactSect_select_item input:nth-child(n+3) {
    margin: 0px 3px 0px 27px;
  }

  #contactSect .contactSect_select_item input:nth-child(6) {
    margin: 0px 3px 0px 0px;
  }
}

@media screen and (max-width: 540px) {
  #contactSect .contactSect_select_item.course {
    max-width: 83%;
  }

  .confirmBtnWrap {
    gap: 12px;
    flex-wrap: wrap-reverse;
  }
}

@media screen and (max-width: 520px) {
  #contactSect .contactSect_select_item span {
    width: 48%;
  }
}

@media screen and (max-width: 525px) {
  #contactSect .contactSect_select_item.course {
    max-width: 86%;
  }
}

@media screen and (max-width: 510px) {
  #contactSect .contactSect_select_item.course {
    max-width: 89%;
  }
}

@media screen and (max-width: 495px) {
  #contactSect .contactSect_select_item.course {
    max-width: 93%;
  }
}

@media screen and (max-width: 474px) {
  #contactSect .contactSect_select_item.course {
    max-width: 97%;
  }
}

@media screen and (max-width: 470px) {
  #contactSect .contactSect_select_item input:nth-child(n+3) {
    margin: 0px 3px 0px 74px;
  }

  #contactSect .contactSect_select_item input:nth-child(5) {
    margin: 0px 3px 0px 0px;
  }

  #contactSect .contactSect_select_item span.adult {
    width: 50%;
  }

  #contactSect input.sec_07_short {
    width: 35%;
  }

  #contactSect input.sec_07_short {
    margin: 0 6px;
  }

  #contactSect .contactSect_select_item.contactSect_flex_box_last {
    display: block;
  }
}

@media screen and (max-width: 455px) {
  #contactSect .contactSect_select_item.course {
    max-width: 100%;
  }

  #contactSect .contactSect_select_item input:nth-child(n+3) {
    margin: 0px 3px 0px 72px;
  }

  #contactSect .contactSect_select_item input:nth-child(5) {
    margin: 0px 3px 0px 0px;
  }
}

@media screen and (max-width: 438px) {
  #contactSect .contactSect_select_item input:nth-child(n+3) {
    margin: 0px 3px 0px 64px;
  }

  #contactSect .contactSect_select_item input:nth-child(5) {
    margin: 0px 3px 0px 0px;
  }
}

@media screen and (max-width: 429px) {
  #contactSect .contactSect_select_item input:nth-child(n+3) {
    margin: 0px 3px 0px 64px;
  }

  #contactSect .contactSect_select_item input:nth-child(5) {
    margin: 0px 3px 0px 0px;
  }

  #contactSect .contactSect_select_item span.adult {
    display: block;
    text-align: center;
  }
}

@media screen and (max-width: 423px) {
  #contactSect .contactSect_select_item input:nth-child(n+3) {
    margin: 0px 3px 0px 56px;
  }

  #contactSect .contactSect_select_item input:nth-child(5) {
    margin: 0px 3px 0px 0px;
  }

  #contactSect .contactSect_select_item span.adult {
    display: block;
    text-align: center;
  }
}

@media screen and (max-width: 410px) {
  #contactSect .contactSect_select_item input:nth-child(n+3) {
    margin: 0px 3px 0px 50px;
  }

  #contactSect .contactSect_select_item input:nth-child(5) {
    margin: 0px 3px 0px 0px;
  }
}

@media screen and (max-width: 394px) {
  #contactSect .contactSect_select_item input:nth-child(n+3) {
    margin: 0px 3px 0px 42px;
  }

  #contactSect .contactSect_select_item input:nth-child(5) {
    margin: 0px 3px 0px 0px;
  }
}

@media screen and (max-width: 378px) {
  #contactSect .contactSect_select_item input:nth-child(n+3) {
    margin: 0px 3px 0px 34px;
  }

  #contactSect .contactSect_select_item input:nth-child(5) {
    margin: 0px 3px 0px 0px;
  }
}

/* End of Contact CSS */